.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.timer {
  display: flex;
  flex: 1;
  border: 2px solid black;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
}

.timerText {
  font-size: x-large;
}

.time {
  font-size: xx-large;
}

.container {
  display: flex;
  flex: 1;
  background-color: #e0fbfc;
  margin: 1rem;
  padding: 0.5rem;
}

.questionBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.question {
  font-size: larger;
}

.answerBlank {
  padding: 0.5rem;
  margin-top: 1rem;
}

.option {
  border: 2px solid black;
  margin-top: 1rem;
  padding: 0.5rem;
}

.matchBox {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.matchColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.matchText {
  padding: 0.5rem;
}

.matchDropdown {
  margin-left: 5px;
}

.bottomNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.button {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  border: 2px solid black;
  width: 30%;
}

.buttonText {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSymbol {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
