.app {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
}

#overlay {
  position: fixed;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.uploader {
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  background-color: #90e0ef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.chooser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chooser > input {
  margin-top: 10px;
  font-size: medium;
}

.uploader > button {
  margin-top: 10px;
  min-width: 100px;
  padding: 10px;
  align-self: center;
  background-color: #2d728f;
  color: #fff;
  border-radius: 50px;
  font-size: larger;
}

.disabled {
  opacity: 0.5;
}

#sideColumn {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#sideColumn > h1 {
  flex: 1;
  border: 2px solid black;
  border-radius: 20px;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: #5398be;
}

.footer {
  flex: 1;
  border: 2px solid black;
  border-radius: 20px;
  margin: 1rem;
  background-color: #7c616c;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

#myname {
  color: #000;
  font-style: bold;
  font-style: italic;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  align-self: center;
  cursor: pointer;
  margin-left: 10px;
}

.sideNavigation {
  flex: 5;
  border: 2px solid black;
  background-color: #e0fbfc;
  border-radius: 20px;
  margin: 1rem;
  padding: 0.5rem;
  overflow: auto;
}

.scrollBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.numberBox {
  height: 50px;
  width: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px;
  cursor: pointer;
}

.light {
  opacity: 0.6;
}

#mainColumn {
  display: flex;
  flex: 3;
  flex-direction: column;
  overflow: hidden;
}

.timer {
  display: flex;
  flex: 1;
  border: 2px solid black;
  background-color: #fec0aa;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
}

.timerText {
  font-size: x-large;
}

.time {
  font-size: xx-large;
}

.container {
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
  flex: 5;
  background-color: #e0fbfc;
  margin: 1rem;
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.questionBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.question {
  font-size: larger;
}

.answerBlank {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 220px;
  font-size: medium;
}

.option {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  width: auto;
}

.matchBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 10px;
}

.matchColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.matchText {
  font-size: large;
  padding: 0.5rem;
  white-space: nowrap;
  font-style: italic;
  font-weight: 500;
  overflow-wrap: break-word;
}

.matchDropdown {
  margin-left: 5px;
}

.bottomNavigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem;
}

.button {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  width: 30%;
  cursor: pointer;
  background-color: #33abd7;
  box-shadow: 2px 2px;
}

#submit {
  background-color: #7fb800;
}

.buttonText {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSymbol {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 50px;
}

#scoreCard {
  position: fixed;
  display: none;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.scoreBox {
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  background-color: #90e0ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score {
  font-size: 50px;
}

.pagination {
  align-self: flex-end;
  place-self: end;
  text-align: right;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 768px) {
  #sideColumn {
    display: none;
  }
  .hideText {
    display: none;
  }

  .timerText {
    font-size: large;
  }
}
